.img-card {
    margin-left: 20px;
    margin-top: 20px;
    width: 172px;
    min-height: 258px;
    max-height: 258px;
    object-fit: fill
}

.img-details {
    margin: 30px;
    width: 260px;
    min-height: 390px;
    max-height: 390px;
    object-fit: fill
}

.img-card-learner {
    margin-left: 20px;
    margin-top: 20px;
    width: 162px;
    min-height: 216px;
    max-height: 216px;
    object-fit: fill
}

.img-details-learner {
    margin-left: 20px;
    margin-top: 20px;
    width: 216px;
    min-height: 288px;
    max-height: 288px;
    object-fit: fill
}

.local-img-card {
    margin-left: 20px;
    margin-top: 20px;
    width: 172px;
    min-height: 258px;
    max-height: 258px;
    object-fit: fill
}