<!-- <app-login></app-login> -->
<div>
    <img src="https://d1lkjd0dg7uq0f.cloudfront.net/dev/181141/25bf8d58e754e57201f1e8aca57a846a/preview.png?d=400x600" class="img-card" alt="Image">
</div>
<div>
    <img src="https://d1lkjd0dg7uq0f.cloudfront.net/dev/181141/25bf8d58e754e57201f1e8aca57a846a/preview.png?d=400x600" class="img-details" alt="Image">
</div>

<div>
    <img src="https://dwx9z6h667280.cloudfront.net/stage/111/f4236292b2d85c4312ae4c8ddaabb7aa/preview.jpg?d=300x400" class="img-card-learner" alt="Image">
</div>
<div>
    <img src="https://dwx9z6h667280.cloudfront.net/stage/111/f4236292b2d85c4312ae4c8ddaabb7aa/preview.jpg?d=300x400" class="img-details-learner" alt="Image">
</div>
<div>
    <img src="../assets/images/Cover image 600_900.png" class="local-img-card" alt="localImage">
</div>